<h1 class="teal-text text-accent-3"><i class="fas fa-feather"></i> WASAFAT</h1>
<div class="section">
    <h5 class="lead">Access +2,303 recipes</h5>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn-large waves-effect waves-light red darken-1">
        <i class="fab fa-google left"></i>
        Continue with google
    </a>
</div>